<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="./images/logo-icon-l.png" />
  <meta name="dicoding:email" content="ucok.sayuti567@gmail.com">
  <title>Legacy</title>
  <meta name="desc" content="website edukasi sejarah dan budaya" />
</head>

<body>
  <header id="header">

  </header>

  <div class="content-detail" id="content-history-detail">

  </div>

  <footer id="footer">
  </footer>

  

</body>

</html>
